# Local Terraform directories
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan

# .tfvars files should be ignored to prevent secrets from being committed
*.tfvars

# Ignore override files as they are meant to be used locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Mac-specific files
.DS_Store